.webkit-html-tag-name{
    color: #f7768e !important;
}

.webkit-html-attribute{
    font-weight: bold !important;
}

.webkit-html-attribute-name{
    color: #bb9af7 !important;
}

.webkit-html-attribute-value{
    color: #9ece6a !important;
}

.token-keyword{
    color: #bb9af7 !important;
}

.token-definition{
    color: #7aa2f7 !important;
}

.token-variable{
    color: #c0caf5 !important;
}

.widget .vbox.panel .elements{
    background-color: #1a1b26 !important;
}

/* toolbar bg */
/* .tool-actions-side-view{
    background-color: #1a1b26 !important;
} */

/* elements panel bg */
/* .panel{
    background-color: #1a1b26 !important;
} */

/* breadcrumbs bg */
/* .crumbs{
    background-color: #1a1b26 !important;
} */

/* styles panel bg */

/* .style-panes-wrapper{
    background-color: #1a1b26 !important;
} */

.tabbed-pane-header, .tabbed-pane-shadow.tab-layout-activity-bar .tabbed-pane-header{
    border-bottom: 1px solid var(--sys-color-divider) !important;
}

/* toolbar buttons */
/* .toolbar-button{
    background-color: #1a1b26 !important;
} */

/* console styling */
/* #console-messages, .console-view, .console-settings-pane, .console-toolbar-container > .toolbar, .item-list, .issues-toolbar-container > .toolbar, .issue-category + .children .issue, .issue.expanded, .soft-context-menu{
    background-color: #1a1b26 !important;
} */

/* lightroom styling */
.lh-root{
    background: var(--report-background-color) !important;
}

.lh-dark{
    /* lightroom bg styling */
    --locale-selector-background-color: var(--color-gray-200) !important;
    --plugin-badge-background-color: #1a1b26 !important;
    --report-background-color: #161720 !important;
    --topbar-background-color: #1e1f2b !important;
    --toplevel-warning-background-color: #342f27;
    --env-item-background-color: #1a1b26 !important;
}

.lh-meta__items{
    border: 1px solid var(--sys-color-divider) !important;
}

:root{
    --dom-selected-tag-name-color: #f7768e !important;
    --dom-tag-name-color: #f7768e !important;
    --selection-bg-color: #f7768e !important;
    --dom-tag-name-color: #9aa5ce !important;
    --neutral-layer-l1: #1e1f2b !important;
    --neutral-layer-l2: #1a1b26 !important;
    --neutral-layer-l3: #161720 !important;
    --neutral-layer-l4: #16161e !important;
    --sys-color-surface5: #1e1f2b !important;
    --sys-color-surface4: #1a1b26 !important;
    --sys-color-surface3: #161720 !important;
    --sys-color-surface2: #16161e !important;
    --sys-color-surface1: #13111a !important;
    --sys-color-cdt-base-container: #1e1f2b !important;
    --sys-color-neutral-container: #16161e !important;
    /* --neutral-fill-rest: #4d4d4d;
    --neutral-fill-hover: #545454;
    --neutral-fill-active: #484848;
    --neutral-fill-selected: #4d4d4d; */
    --sys-color-divider: #474747 !important;
}