.webkit-html-tag-name{
    color: #f7768e !important;
}

.webkit-html-attribute::after{
    font-weight: bold !important;
}

.webkit-html-attribute-name{
    color: #bb9af7 !important;
}

.webkit-html-attribute-value{
    color: #9ece6a !important;
}

.token-keyword{
    color: #bb9af7 !important;
}

.token-definition{
    color: #7aa2f7 !important;
}

.token-variable{
    color: #c0caf5 !important;
}

.widget .vbox.panel .elements{
    background-color: #1a1b26 !important;
}

.tabbed-pane-header, .tabbed-pane-shadow.tab-layout-activity-bar .tabbed-pane-header{
    border-bottom: 1px solid var(--sys-color-divider) !important;
}

/* LightHouse styling */
.lh-root{
    background: var(--report-background-color) !important;
}

.lh-dark{
    /* LightHouse bg styling */
    --locale-selector-background-color: var(--color-gray-200) !important;
    --plugin-badge-background-color: #1a1b26 !important;
    --report-background-color: #161720 !important;
    --topbar-background-color: #1e1f2b !important;
    --toplevel-warning-background-color: #342f27;
    --env-item-background-color: #1a1b26 !important;
}

.lh-meta__items{
    border: 1px solid var(--sys-color-divider) !important;
}

:root{
    --dom-selected-tag-name-color: #f7768e !important;
    --dom-tag-name-color: #f7768e !important;
    --selection-bg-color: #f7768e !important;
    --dom-tag-name-color: #9aa5ce !important;
    --neutral-layer-l1: #1e1f2b !important;
    --neutral-layer-l2: #16161e !important;
    --neutral-layer-l3: #161720 !important;
    --neutral-layer-l4: #1a1b26 !important;
    --sys-color-surface5: #1e1f2b !important;
    --sys-color-surface4: #1a1b26 !important;
    --sys-color-surface3: #161720 !important;
    --sys-color-surface2: #16161e !important;
    --sys-color-surface1: #13111a !important;
    --sys-color-cdt-base-container: #1e1f2b !important;
    --sys-color-neutral-container: #16161e !important;
    --sys-color-divider: #474747 !important;
}

/* styling code */
.-theme-with-dark-background{
    --sys-color-token-property: #7aa2f7 !important;
    --sys-color-token-type: #9ece6a !important;
    --sys-color-token-keyword: #bb9af7 !important;
    --sys-color-token-variable: #becaf5 !important;
    --sys-color-token-variable-special: #bb9af7 !important;
    --sys-color-token-atom: #ff9e64 !important;
    --sys-color-token-number: #f7768e !important;
    --sys-color-token-string: #9ece6a !important;
    --sys-color-token-definition: #e0af68 !important;
    --sys-color-cdt-base: var(--neutral-layer-l4) !important;
}
